extends layout

block content
  .container
    .body-wrap
      form(method="POST", action ='/articles/edit/'+article._id)
        .field
          label.label Article Title
          p.control
            input.input(name="title", type='text', placeholder='Text input', value=article.title)                           
        .field
          label.label Article Text
          p.control
            textarea.textarea(class="body-field" name="body", placeholder='Textarea')= article.body
        
        .field.is-grouped
          p.control
            button.button(type="submit", value="submit") Save
          p.control
            button.button.is-link Cancel 
