extends layout

block content  
  .container
    .body-wrap          
      form(method="POST", action ='/users/login')        
        .field
          label.label Username
          p.control
            input.input(name="username", type='text', placeholder='Username')
        .field
          label.label Password
          p.control
            input.input(name="password", type='password', placeholder='Password')                    
        .field.is-grouped
          p.control
            button.button(type="submit", value="submit") Login
          p.control
            a.button.button(href="/") Cancel
