extends layout

block content
  .container
    .columns
      .column.is-3.content                           
      .column.is-9.content
        .body-wrap
          h1= user.name
          h7= user.email  
